.container{
    /* border: 1px solid red; */
    margin: 20px auto;
    height: 90vh;
    width: 350px;
    max-width: 400px;
    background-color: black;
    box-shadow: 2px 2px 5px orange;
    border-radius: 1px;
}

#display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 25px;
    height: 80px;
    width: 350px;
    background-color: black;
    color: white;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50vh;
    width: 350px;
}

.button{
    /* border: 0.5px solid gray; */
    margin: 8px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    line-height: 57px;
    cursor: pointer;
}

#orange{
    background-color: orange;
    color: white;
    font-weight: bold;
}

#orange:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 25px;
    transition: ease-in-out;
}

#light-gray{
    background-color: rgb(209, 206, 206);
    color: white;
    font-weight: bold;
}

#light-gray:hover{
    background-color: orange;
    color: white;
    font-size: 22px;
    border: none;
    transition: ease-in-out;
}

#dark-gray{
    background-color: rgb(78, 76, 76);
    color: white;
    /* font-weight: bold; */
}

#dark-gray:hover{
    background-color: white;
    color: black;
    font-size: 22px;
    border: none;
    transition: ease-in-out;
}

#zero{
    grid-column: 1/3;
    background-color: rgb(78, 76, 76);
    color: white;
    text-align: center;
    justify-content: center;
    line-height: 70px;
}

#zero:hover{
    background-color: white;
    color: black;
    font-size: 22px;
    border: none;
    transition: ease-in-out;
}

#equal{
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 70px;
}

#equal:hover{
    background-color: green;
    color: white;
    font-size: 22px;
    border: none;
    transition: ease-in-out;
}